body{
    font-size: 20px;
    font-family: monospace;
    margin-left: 20px;
    background-color: lightgray;
}

.title {
    text-align: center;
    color: brown;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 30%;
    border: 1px solid orange;
}

h3{
    color: brown;
}

.recipes {
    list-style: none;
    text-align: center; 
    line-height: 50px;
}

a{
    text-decoration: none;
}

.right-body,.left-body{
    display:  inline-block;
    width: 500px;
    height: auto;
}

.left-body{
    padding: 30px 0 auto 0;
}

.but {
    background-color: brown;
    border-radius: 50%;
    color: aliceblue;
    padding: 10px;
    border: none;
    font-size: 34px;
    
}


